<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo News Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="pa3 pa4-ns">
        <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="/" title="Home">Mongo Salon News Scraper</a>
        <div class="tc pb3">
            <a class="f6 link dim ba bw2 ph3 pv2 mb2 dib dark-green" href="/scrape">Click to Scrape</a>
        </div>
    </nav>

    {{{body}}}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>

</html>